{#
/**
 * @file node--announcement.html.twig
 * Redirects to the member portal announcement detail view.
 * The actual display is handled by MemberPortalController::announcementDetail().
 */
#}
<div class="site-wrapper">
  {{ include('@meadow_lane/partials/site-header.html.twig') }}
  <div class="member-layout container" style="padding-top:var(--space-10);">
    <p>
      <a href="/announcements/{{ node.id() }}">{{ 'View this announcement'|t }} →</a>
    </p>
  </div>
  {{ include('@meadow_lane/partials/site-footer.html.twig') }}
</div>
