{#
/**
 * @file node--event.html.twig
 * Redirects to the events calendar.
 */
#}
<div class="site-wrapper">
  {{ include('@meadow_lane/partials/site-header.html.twig') }}
  <div class="member-layout container" style="padding-top:var(--space-10);">
    <p>
      <a href="/events">{{ 'View events calendar'|t }} →</a>
    </p>
  </div>
  {{ include('@meadow_lane/partials/site-footer.html.twig') }}
</div>
